@use "../abstract/index" as *; 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.swiper-pagination-bullet-active{
    background-color: $orange;
}

html{
    font-family:'Nunito', sans-serif ;
    scroll-behavior: smooth;
    font-size: 55%; 
    @media(min-width:990px){
        font-size: 62.5%;
    }
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    font-size:1rem;
}

h3{
    line-height: 1.2;
}

p{
    font-size: 1.5rem;
}

input, button{
    outline: none;
    border: none;
}

