@use "../abstract/index" as *;

$ft-weight-7: 700;

.heading{
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    color: $black;
    padding: 1rem;
}

.heading-span{
    color: $orange;
}