@use "../abstract/index" as *;

.products{
    position: relative;
    &__outer-wrapper{
        overflow: hidden;
        margin-top: 15vh;
       
    }
    &__product{
        border: .1rem solid rgba(0,0,0, .1);
        border-radius: .5rem;
        text-align: center;
        position: relative;
        overflow:hidden;
        background: $card-bg;
        padding-bottom: 3rem;
        

        &:hover .products__icons{
            left: 1rem;
        }
    }

    img{
        height: 10rem;
        transform: rotate(-35deg);
        filter: drop-shadow(0 .5rem 1rem rgba(0,0,0, .1));
        margin: 8rem 2rem;
        transition: all .3s linear;
        &:hover{
            transform: rotate(-35deg) scale(1.2);
        }
    }
    &__icons{
        display: flex;
        flex-flow: column;
        position: absolute;
        top: .5rem;
        left: -10rem;
        transition: all .3s linear;

    }

    .fa-heart,  .fa-share, .fa-eye{
        width: 5rem;
        font-size: 2rem;
        line-height: 4.5rem;
        color: $black;
        border: .1rem solid $black;
        border-radius: .5rem;
        background: $white;
        margin-top: .5rem;

        &:hover{
            background: $orange;
            color: $white;
        }
    }

    &__details{
        display: grid;
        gap: 1rem;
        margin-bottom: 1.5rem;
    }

    &__name{
        color: $black;
        font-size: 2.5rem;
    }
    &__price{
        color: $black;
        font-size: 2.5rem;
        font-weight: bolder;
    }
    &__price-origin{
        color: $orange;
        font-size: 1.5rem;
        text-decoration: line-through;
    }

    .fa-star{
        font-size: 1.7rem;
        color: $orange;
    }

   
}