@use "../abstract/index" as *;

.service{
    &__outer-wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1.5rem;
        background: #f9f9f9;
        border: .1rem solid rgba(0,0,0, .1);
        border-radius: .5rem;
        padding: 2rem;
    }

    &__card{
        text-align: center;
    }

    .fas{
        font-size: 4rem;
        color: $orange;
    }

    &__h3{
        font-size: 2rem;
        color: $black;
        padding-top: 1rem;
    }

    &__p{
        font-size: 1.5rem;
        color: $middle-gray;
        padding: 1rem;
    }
}