.container{
    padding:0 5vw;
}

section{
    padding: 8.5vh 6.5%;

    @media(min-width:855px){
        padding: 8.5vh 9%;
    }
}

footer{
    padding: 8.5vh 6.5%;

    @media(min-width:855px){
        padding: 8.5vh 9%;
    }

}